body {
  font-family: Arial, sans-serif;
  background-color: #3546e7;
  margin: 40px;
}

h1 {
  color: #8fc3ee;
}

h1 {
  text-align: center;
  border-bottom: 3px solid #205988;
  padding-bottom: 10px;
}
